.rectangle-1{
position: relative;
width: 527px;
height: 251px;
background: #E95544;
border-radius: 6px;
}

.input-text-cls{
width: 57px;
height: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
/* identical to box height */
color: #F5F5F5;
}