:host{
  --slds-c-button-brand-color-background: #1dba81; 
  --slds-c-button-brand-color-background-hover: #20CD8D;
  --sds-c-button-brand-color-background:#1dba81;
  --sds-c-button-brand-color-background-hover:#20CD8D;  
}

body{
    background-color: #172627;
}

.container{
    background-color: #172627;
    padding: 1rem;
}

h1{
    font-weight: 700;
    font-style: normal;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: sans-serif;
    font-size: 3rem;
    margin: 2rem;
}

h1::before{
    content: "";
    background-color: #20CD8D;
    padding: 0.5rem 0.5rem;
    margin-right: 0.5rem;
}

.col-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.desc-box{
    background-color: #20CD8D;
    border-radius: 2rem;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    margin: 1rem;
    padding: 1rem;
}

.yt-box{
    background-color: #20CD8D;
    padding: 1rem;
    border-radius: 2rem;
    margin: 1rem;
    height: 18rem;
    width: 100%;
}

.yt-cls{
    width: 100%;
    height: 100%;
}

.btn-cls{
    font-size: 2rem;
    font-weight: 700;
}