<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Manager</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/design-system/2.22.0/styles/salesforce-lightning-design-system.min.css"/>
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
    {{{body}}} <!--Takes content of path component and renders it here-->
    {{{lwr_resources}}}<!--Contains script required to run the component-->
</body>
</html>